@model GetByIdProductDetailDto
@if(Model != null)
{
    <div class="tab-pane fade" id="tab-pane-2">
        <h4 class="mb-3">Ürün Bilgileri</h4>
        <p>@Model.ProductInfo</p>
    </div>
}
else
{
    <div class="tab-pane fade" id="tab-pane-2">
        <h4 class="mb-3">Ürün Bilgileri</h4>
        <p>Bu Ürün Hakkında Bilgi Girişi Yapılıyor....</p>
    </div>
}
