@model CreateProductImageDto
@{
    ViewData["Title"] = "CreateProductImage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Görseli Ekle</h4>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="ProductId" value="@ViewBag.x" />
                        <label> Görsel</label>
                        <input type="text" class="form-control" asp-for="Image" />
                        <br />
                        <button class="btn btn-primary">Ürün Görseli Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


