@model Multishop.Images.WebUI.DAL.Entities.ImageDrive;
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">


    <h1>Resim Eklemeee</h1>

    <form method="post" enctype="multipart/form-data">
        <label>Ürün Adı</label>
        <input type="text" class="form-control border" name="Name" />
        <br />
        <label>Görseli Seçin</label>
        <input type="file" class="form-control border" name="Photo" />
        <br />


        <input name="SavedUrl" type="hidden" class="form-control" />
        <input name="SavedFileName" type="hidden" class="form-control" />
        <button class="btn btn-outline-info">Görseli Kaydet</button>

    </form>
</div>